---
import BlogBlocks from "../components/BlogBlocks.astro";
import Hero from "../components/Hero.astro";
import InfoBlocks from "../components/InfoBlocks.astro";
import QuoteBlocks from "../components/QuoteBlocks.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="page-transition">
    <Hero />
    <InfoBlocks />
    <BlogBlocks />
    <QuoteBlocks />
  </div>
</Layout>
