---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex justify-center items-center min-h-screen bg-gray-200">
    <h1 class="fancy-text text-8xl text-amber-700 font-bold">Astro</h1>
  </main>
</Layout>
