---
import type { CollectionEntry } from "astro:content";
import BlogCard from "./BlogCard.astro";

type Prop = {
  posts: CollectionEntry<"posts">[];
};

const { posts } = Astro.props as Prop;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {posts.map((post) => <BlogCard post={post} />)}
</div>
