---
import BlogCategories from "./BlogCategories.astro";
---

<footer class="bg-tech-dark text-white py-16">
  <div class="container mx-auto px-4">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 border-b border-white/10 pb-12 mb-8"
    >
      <div class="md:col-span-2 lg:col-span-1">
        <div class="flex items-center mb-4">
          <div class="w-10 h-10 rounded-full overflow-hidden mr-3">
            <img
              src="/images/qs-avatar.jpg"
              alt="avatar"
              class="w-full h-full object-cover"
            />
          </div>
          <h3 class="font-title text-xl font-bold">爱学习的起司</h3>
        </div>
        <p class="opacity-75 text-sm max-w-md">
          一只美短猫的博客，分享在科技、思维、阅读和发呆中的探索与思考。
        </p>
      </div>

      <div>
        <h4 class="text-lg font-bold mb-4">分类浏览</h4>
        <div class="flex flex-wrap gap-2">
          <BlogCategories />
        </div>
      </div>
      <div>
        <div class="flex flex-wrap gap-2">
          <img
            src="/images/40.jpg"
            alt="avatar"
            class="w-66 h-55 rounded-3xl object-cover"
          />
        </div>
      </div>
    </div>

    <div class="text-center text-sm opacity-50">
      <p>© 2025 爱学习的起司 | 用好奇心探索世界</p>
    </div>
  </div>
</footer>
