---

---

<div class="flex justify-center mt-12">
  <div class="flex items-center space-x-2">
    <button
      class="bg-blue-600 text-white w-10 h-10 rounded-full flex items-center justify-center"
    >
      1
    </button>
    <button
      class="bg-white hover:bg-gray-100 w-10 h-10 rounded-full flex items-center justify-center transition"
    >
      2
    </button>
    <button
      class="bg-white hover:bg-gray-100 w-10 h-10 rounded-full flex items-center justify-center transition"
    >
      3
    </button>
    <button
      class="bg-white hover:bg-gray-100 w-10 h-10 rounded-full flex items-center justify-center transition"
    >
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>
