---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";

const { title = "爱学习的起司", description = "一只爱思考的美短猫" } =
  Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpg" href="/qs.jpg" />
    <title>{title} - {description}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    /><script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-X501241B4W"
    ></script></head
  >
  <!-- Google tag (gtag.js) -->

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-X501241B4W");
  </script>

  <body class="bg-cheese-light font-content text-cheese-primary">
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
